* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Helvetica Nue", Arial, Helvetica, sans-serif;
    
    color: #121214;
// //background: #333;
//     h1 {
//         font-size: 80px;
//     }
}